body{
    text-align: center;
}

.formulario.mb-5{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f1f1f1;
    padding: 5px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px gray;
}

.box{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f1f1f1;
    padding: 5px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px gray;
}