body {
    text-align: center;
}

.formulario.mb-5 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 249, 0);
    padding: 5px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgb(68, 0, 255);
}

.box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 130, 252), 241, 241);
    padding: 5px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px gray;
}